.m-nav-mini .list .p1:hover{background-position: -150px -1650px;}
.m-nav-mini .list .p2:hover{background-position: 0 -1550px;}
.m-nav-mini .list .p3:hover{background-position: -150px -1550px;}
.m-nav-mini .list .p4:hover{background-position: 0 -1650px;}

.m-nav .list .p1:hover{background-position: 0 -700px;}
.m-nav .list .p2:hover{background-position: 0 -900px;}
.m-nav .list .p3:hover{background-position: 0 -1100px;}
.m-nav .list .p4:hover{background-position: 0 -1300px;}